.header {
  background-color: grey;
  text-align: center;
  width:85%;
  margin-left: 15%;
  padding-bottom: 10px;
}
.header h1{
  font-size: 5vw;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #111;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #818181;
  padding: 16px;
  text-decoration: none;
}


/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
